# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github开源项目\ssm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
